.DS_Store 
Thumbs.db 

.project 
.settings 
salesforce.schema 
Referenced Packages 

build.properties 

/IlluminatedCloud 
.idea/ 

venv/ 
*.pyc 

.*.swp 

*.sublime-project 
*.sublime-workspace 

.sfdx/ 

.vscode/ 

.cci/ 

node_modules/ 
coverage/ 
.localdevserver/ 
